/* overall */
html, body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  /* overflow: hidden; */
}

.app {
  display: flex;
  flex-direction: column;
  padding: 2.5vh;
  background-color: black;
  box-sizing: border-box;
  height: 100dvh;
}

.app > h1 {
  text-align: center;
  background-color: white;
  margin: 0;
}

.scoreboard, .scorebar, .updaters {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5vh;
  padding: 1.5vh 0;
}

/* scoreboard */
.score {
  display: flex;
  flex: 1;
  justify-content: center;
  min-height: 40vh;
  flex-direction: column;
  justify-content: flex-start;

  padding-bottom: 5vh;
  opacity: 60%;
}

.score > h1 {
  margin-bottom: 0;
}

.score > span {
  display: flex;
  flex-direction: column;
  font-size: 140px;
  flex: 1;
  justify-content: center;
}


/* scorebar */
.scorebar {
  gap: 0;
}

.control {
  display: flex;
  min-height: 6vh;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em;
  font-weight: bold;
}

.control.tansa {
  flex: 2;
  text-align: left;

}

.control.kac {
  flex: 2;
  text-align: right;
}

/* updaters */
.updaters {
  opacity: 100%;
}

.updater {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  min-height: 10vh;
  padding: 0 1em;
  font-weight: bold;
  background-color: white;
}


.start{
  flex: 1;
  background-color: red;
}

.tansa {
  background-color: #849fae;
}

.kac {
  background-color: #e2d932;
}